
body{
    background: #00B4DB;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #0083B0, #00B4DB);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #0083B0, #00B4DB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.container{
    outline: 5px solid darkcyan;
    outline-style:double;
    margin: 300px;
    border: 2px solid black;
    width: 300px;
    height: 500px;
    position: absolute;
    left: 300px;
    top: -200px;
   background-color: #F3F1F5;
   border-radius: 15px;
    border: 1px solid gray;

}

.nombre{
    display:flex;
    flex-direction: column;
    position: relative;
    left:15px;
    top: 5px;
    font-size: 20px;
    width: 250px;
    height: 60px;
    margin: 2px;
    text-align:center;
    background-color: #F3F1F5;
    border-radius: 15px;
    border: 1px solid gray;
   
    
}
.userimage{
    background-image:url(../user.png);
    background-repeat: no-repeat;
    background-size: 35px 35px;
   background-position: left center;   
}

.password{
    display:flex;
    flex-direction: column;
    position: relative;
    left:15px;
    top: 30px;
    font-size: 20px;
    background-color: #FDFCE5;
    height: 60px;
    margin: 2px;
    text-align: center;
    background-color: #F3F1F5;
    border-radius: 15px;
    border: 1px solid gray;
}
.image{
    background-image: url(../password.png);
    background-repeat: no-repeat;
    background-size: 25px 25px;
    background-position: left center;  
}
.email{
    display:flex;
    flex-direction: column;
    position: relative;
    left:15px;
    top: 20px;
    font-size: 20px;
    background-color: #FDFCE5;
    height: 60px;
    margin: 2px;
    text-align:center;
    background-color: #F3F1F5;
    border-radius: 15px;
    border: 1px solid gray;
}
.sobreimage{
    background-image: url(../sobre.png);
    background-repeat: no-repeat;
    background-size: 25px 25px;
    background-position: left center;   

}
.repetir{
    position: relative;
    top: 40px;
    text-align:center;
    background-color: #F3F1F5;
    border-radius: 15px;
    border: 1px solid gray;
}
.buttom{
    font-size: 20px;
    width: 250px;
    height: 60px;
    margin: 2px;
    text-align:center;
    background-color: #F3F1F5;
    border-radius: 15px;
    border: 1px solid gray;
    position: relative;
    top: 150px;
    left: 15px;
    font-weight: 900;
}
.buttom:hover{
    background-color: skyblue;
}
.userimage:hover{
    background-color: skyblue;
}
.email:hover{
    background-color: skyblue;
}
.password:hover{
    background-color: skyblue;
}
