body{
background: #D3CCE3;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #E9E4F0, #D3CCE3);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #E9E4F0, #D3CCE3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#image{
    background-image: url(../pico.jpg);
    width: 900px;
    height: 600px;
    background-position: right center;
    background-repeat: no-repeat;
    position: relative;
    left: 300px;
    top: 50px;
    background-size: cover;
    overflow: hidden;
    border: 2px solid black;
}
.capa{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    transform: scale(0);
    transition: .2s;
}
#image:hover .capa{
    transform: scale(1);
}
h2{
    display: flex;
    justify-content: center;
    position: relative;
    top: 250px;
    color: #F4EEE8;
    font-size: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}