body{
    background: #FEFBF3;
}

.padre{
    background: #FAEBE0;
    margin:0 auto;
    margin-top: 30px;
    padding: 5px;
    padding-top: 50px;
    width: 35%;
    height: 780px;
    text-align: center;
    border-radius: 40px;
    border: 2px solid black;
    box-shadow: 5px 5px 15px;
}
h1{
    text-align: center;
    color: #99154E;
    font-size: 50px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.primeremail{
    color: #716F81;
    font-size: 30px;
}
p{
    font-size: 25px;
    padding-bottom: 12px;
}
img{
    width: 30%; 
    margin: 2px; 
    border: 2px solid black; 
    margin-right: 5px;
    margin-left: 2px;
    width: 200px;
    height: 200px;
    background-color: transparent;
}
.hijo{
    background: #99154E;
    color: white;
    width: 80%;
    border-radius: 15px;
    height: 150px;
    margin:20px;
    margin-left: 45px;
    padding: 5px;
}
span{
    font-size: 20px;
}
.update{
    color: white;
    text-decoration: none;
    border: 3px solid black;
    font-size: 25px;
    border-radius: 20px;
    padding: 5px;
}
.update:hover{
    background: black;
}
.confirm{
    color: white;
    background: #99154E;
    text-decoration: none;
    padding: 10px;
    font-size: 30px;
    margin-top: 2px;
    margin-bottom: 5px;
    border-radius: 30px;
    border: 3px solid black;
}
.confirm:hover{
    background: black;
}