a{
    text-decoration: none;
    font-size: 20px;
    color: black;
}

.publicado{
    color: #A3A847;
    font-weight: 800;
    text-decoration: solid;

    
}

section, h1{
    background-color: #BCFFB9;
}
    

h2{
    background: #C67ACE;
    color: black;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
    width: 15%;
    border-radius: 20px;
    text-align: center;
   flex-direction: column;
    
}
.italic{
    font-style: italic;
    color: red;
    text-align: center;

}
.bold{
    font-weight: 900;
    color: saddlebrown;
}
.parrafo3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
}

.italic2{
    font-style: italic;
    color: firebrick;
}
h1{
    font-size: 80px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align:start;
    border-radius: 100px;
    padding: 60px;
    width: 90%;
    justify-content: space-around;
    border: 2px 10px  palevioletred;
    display: flex;
    flex-direction:row
    }
    
    section{
        background-color: #FEF7DC;
        margin: 10px 0px;
        padding: 30px;
        
        
    }
